.shelf {
	width: 360px;
	height: 100vh;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;

	opacity: 1;
	animation: fade-entrance .55s both;
}

.filters {
	margin-top: 24px;

	input {
		background-color: #0001;
		border: none;
		font-size: 1em;
		border-radius: 4px;
		padding: 4px;
	}
	
	input:focus {
		background-color: #0002;
		outline: none;
	}
}

.grid {
	background-color: #0001;

	height: calc(100vh - 80px);
	width: 312px;
	margin: 24px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;

	overflow-y: scroll;
	scrollbar-width: none;
}

.row {
	display: flex;
	align-items: flex-start;
	margin-top: 14px;
	margin-bottom: 24px;

	.card {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: relative;

		width: 156px;

		.card-cover {
			width: 120px;
			height: 160px;
			border-radius: 10px;

			position: absolute;
			left: 18px;

			background-color: #0003;
			transition: opacity .25s, background-color 0.01s;
			opacity: 1;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.label {
				color: white;
				font-size: 1em;
				font-weight: 500;
				opacity: 0;
				user-select: none;
			}

			.label.owned {
				font-size: .9em;
			}
		}

		.card-cover.affordable {
			opacity: 0;
			background-color: #0008;
			cursor: pointer;
		}

		.card-cover.affordable:hover {
			transition: opacity .25s;
			opacity: 1;

			.label {
				opacity: 1;
			}
		}

		.cost-label {
			margin-top: 8px;

			+ .cost-label {
				margin-top: 0;
			}
		}

		.cost-label.unaffordable {
			color: #622;
		}
	}
}

@keyframes fade-entrance {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
}