<div class="shelf" [class.show]="show">
	<div class="tab" (click)="show = !show">
		<div>Craft</div>
	</div>

	<div class="filters">
		<input placeholder="Search for cards..." [(ngModel)]="search" (ngModelChange)="this.$searchChange.next($event)">
	</div>

	<div class="grid">
		@if (rows.length) {
			@for (row of rows; track (row[0].uuid.concat((row[1] ? row[1].uuid : '').toString()))) {
				<div class="row">
					@for (card of row; track card.uuid) {
						<div class="card">
							<app-card-visual [card]="card"></app-card-visual>
							<div class="card-cover" [class.affordable]="affordable(card)" (click)="craft(card)">
								<div class="label">Craft?</div>
							</div>

							@for (cost of recipeComponents(recipes[card.id]); track cost) {
								<div class="cost-label" [class.unaffordable] = "!costAffordable(card, cost)">
									{{recipeCostString(recipes[card.id], cost)}}
								</div>
							}
						</div>
					}
				</div>
			}
		}
	</div>
</div>