.card {
	user-select: none;
	
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;

	width: 120px;
	height: 160px;

	box-sizing: border-box;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;

	margin-bottom: 0;
	transition: margin-bottom 0.25s, filter 0.25s;

	.label {
		padding: 4px;
		font-weight: 500;
		background-color: #0001;
		width: 120px;
		text-align: center;
	}

	.description {
		margin: auto 0;
		height: auto;
		padding: 4px;
		width: 112px;
		font-size: .85em;
		text-align: center;
	}
}

.card:hover {
	box-shadow: 0 2px 4px 4px #0001;
}

.card.red {
	color: var(--color-font-red);
	border-color: var(--color-dark-red);
	background-color: var(--color-light-red);
}

.card.orange {
	color: var(--color-font-orange);
	border-color: var(--color-dark-orange);
	background-color: var(--color-light-orange);
}

.card.yellow {
	color: var(--color-font-yellow);
	border-color: var(--color-dark-yellow);
	background-color: var(--color-light-yellow);
}

.card.green {
	color: var(--color-font-green);
	border-color: var(--color-dark-green);
	background-color: var(--color-light-green);
}

.card.blue {
	color: var(--color-font-blue);
	border-color: var(--color-dark-blue);
	background-color: var(--color-light-blue);
}

.card.purple {
	color: var(--color-font-purple);
	border-color: var(--color-dark-purple);
	background-color: var(--color-light-purple);
}

.card.brown {
	color: var(--color-font-brown);
	border-color: var(--color-dark-brown);
	background-color: var(--color-light-brown);
}

.card.black {
	color: var(--color-font-black);
	border-color: var(--color-dark-black);
	background-color: var(--color-light-black);
}

.card.white {
	color: var(--color-font-white);
	border-color: var(--color-dark-white);
	background-color: var(--color-light-white);
}