<div class="shelf" [ngClass]="selected.toLowerCase()">
	<div class="tabs">
		@for (tab of tabs; track tab) {
			<div class="tab" (click)="select(tab)" [class.selected]="selected === tab" [class.larger]="'Structures' === tab">
				<div class="tab-label">
					{{tab}}
				</div>
			</div>
		}
	</div>
	<div class="container">
		@if (last_selected === 'Craft') {
			<app-recipes></app-recipes>
		}
		@if (last_selected === 'Deck') {
			<app-deck></app-deck>
		}
		@if (last_selected === 'Packs') {
			<app-packs></app-packs>
		}
		@if (last_selected === 'Structures') {
			<app-structures></app-structures>
		}
		@if (last_selected === 'Profile') {
			<app-save></app-save>
		}
	</div>
</div>