div.grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 800px;
	height: 400px;
	overflow-x: scroll;

    scrollbar-width: none;  

	.limit {
		opacity: .5;
		user-select: none;
	}

	.row {
		display: flex;
		justify-content: center;
		align-items: flex-start;

		width: 800px;
		height: 40px;
		margin-top: 10px;

		.item {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 150px;
			height: 40px;

			box-sizing: border-box;
			border-radius: 10px;
			border-width: 2px;
			border-style: solid;

			+ .item {
				margin-left: 10px;
			}
			
			.label {
				user-select: none;
			}
		}
	}
}

div.grid .row .item.red {
	color: var(--color-font-red);
	border-color: var(--color-dark-red);
	background-color: var(--color-light-red);
}

div.grid .row .item.orange {
	color: var(--color-font-orange);
	border-color: var(--color-dark-orange);
	background-color: var(--color-light-orange);
}

div.grid .row .item.yellow {
	color: var(--color-font-yellow);
	border-color: var(--color-dark-yellow);
	background-color: var(--color-light-yellow);
}

div.grid .row .item.green {
	color: var(--color-font-green);
	border-color: var(--color-dark-green);
	background-color: var(--color-light-green);
}

div.grid .row .item.blue {
	color: var(--color-font-blue);
	border-color: var(--color-dark-blue);
	background-color: var(--color-light-blue);
}

div.grid .row .item.purple {
	color: var(--color-font-purple);
	border-color: var(--color-dark-purple);
	background-color: var(--color-light-purple);
}

div.grid .row .item.brown {
	color: var(--color-font-brown);
	border-color: var(--color-dark-brown);
	background-color: var(--color-light-brown);
}

div.grid .row .item.gray {
	color: var(--color-font-gray);
	border-color: var(--color-dark-gray);
	background-color: var(--color-light-gray);
}

div.grid .row .item.black {
	color: var(--color-font-black);
	border-color: var(--color-dark-black);
	background-color: var(--color-light-black);
}

div.grid .row .item.white {
	color: var(--color-font-white);
	border-color: var(--color-dark-white);
	background-color: var(--color-light-white);
}