@keyframes clicked {
	0% {
		background-color: #8884;
	}
	100% {
		background-color: #0004;
	}
}

@keyframes fadeInAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.card-section {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100vw;
	height: 120px;

	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.card-pile.autoplay-toggle {
	top: 144px;
}

.card-redraw {
	position: fixed;
	bottom: 24px;
	left: 24px;
	width: 90px;
	height: 48px;

	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	padding: 12px;
	border-radius: 10px;
	background-color: #0006;

	transition: width 0.25s, left 0.25s;

	button {
		background-color: #0000;
		border: none;
		cursor: pointer;
		padding: 4px;
		font-weight: 500;
		font-size: 1em;
		color: white;
		z-index: 2;

		opacity: 1;
		animation: fadeInAnim .25s both;
	}

	button.hide{
		display: none;
	}

	canvas {
		position: absolute;
		width: 32px;
		height: 32px;
		opacity: 0;
		transition: opacity .25s;
	}

	canvas.show {
		opacity: 1;
	}
}

.card-redraw.clicked {
	animation: clicked .25s;
	width: 48px;
}

.card-pile {
	position: fixed;
	left: 24px;
	width: 160px;
	height: 48px;

	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	padding: 12px;
	border-radius: 10px;
	background-color: #0006;

	button {
		background-color: #0000;
		border: none;
		cursor: pointer;
		padding: 4px;
		font-weight: 500;
		font-size: 1em;
		color: white;
		z-index: 2;

		opacity: 1;
		animation: fadeInAnim .25s both;
	}
}

.draw {
	top: 24px;
}

.discard {
	top: 84px;
}

